img {
  width: 50%;
  margin: auto;
  border-radius: 10px;
}

mat-card {
  background:  url('/assets/fondos/fondo5.jpeg');
  margin-top: 30px;
  margin-bottom: 30px;
  background-size: contain;
}

mat-card-header {

  mat-card-title{
   color: rgb(231, 188, 194);
   font-size: 20px;
   font-family: Georgia, "Times New Roman", Times, serif;
   padding-bottom: 10px;
 }
}

mat-card-subtitle {
  font-size: 25px;
  color: white;
}
mat-card-content{
  text-align: center;

}
.espacio{
  margin-left: 100px;
}
