<form [formGroup]="form" (ngSubmit)="guardarProducto($event)">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Producto</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div>
        <mat-form-field>
          <input placeholder="Id" formControlName="id" matInput type="text" />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input
            placeholder="Name"
            formControlName="name"
            matInput
            type="text"
          />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input
            placeholder="Price"
            formControlName="price"
            matInput
            type="number"
          />
        </mat-form-field>

      </div>

      <div>
        <mat-form-field>
          <textarea
            matInput
            placeholder="Description"
            formControlName="description"
          ></textarea>
        </mat-form-field>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button [disabled]="form.invalid" mat-raised-button type="submit">Guardar</button>
    </mat-card-actions>
  </mat-card>
</form>
